<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isabelle Baritot - Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/styles.css">
</head>

<body>
    <script src="../js/main.js"></script>
    <header class="page-header">
        <nav>
            <ul class="nav-links">
                <img src="../Logo_-_Isabelle_-removebg-preview.png" alt="Isabelle Baritot Logotype" class="logotype">
                <a href="#">Sobre mim</a>
                <a href="#">Trabalhos</a>
                <a href="#">Fotos</a>
                <a href="#">Dicas & Cases</a>
                <a href="#">Fale comigo</a>
            </ul>
        </nav>
    </header>
    <div class="test">
        <h1 style="font-size:50px;">Isabelle Baritot</h1>
        <p style="background-color:rgba(255, 255, 255, 0.363);">ATELIÊ</p>
    </div>
    <img src="../artesanato-image.jpg" height="900px" width="100%" class="main-banner">


    <main>
        <div class="first-banner">
            <hr class="separator">
            <h1 class="title">Quem sou e o que faço?</h1>
            <p class="text">Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Quia pariatur sequi omnis excepturi corporis repudiandae sapiente
                dicta animi laborum quos, odio a itaque porro placeat eos error cumque?
                Assumenda, impedit! Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Ipsum, necessitatibus! Iusto, odio.
                Deserunt minima natus iure quidem quas blanditiis,
                ratione magni quisquam voluptatibus hic cupiditate
                excepturi architecto sint. Quos, adipisci.
                Deserunt minima natus iure quidem quas blanditiis,
                ratione magni quisquam voluptatibus hic cupiditate
                excepturi architecto sint. Quos, adipisci.</p>
        </div>
        <div class="all-cards">
            <hr class="big-separator">
            <h1
                style="background-color: rgba(128, 0, 128, 0.164);width:83%;padding: 10px; border-radius: 50px; text-align: center; margin: auto;">
                Principais Trabalhos</h1>
            <div class="card cards" style="width: 18rem;">
                <img src="../example.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card cards" style="width: 18rem;">
                <img src="../example.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card cards" style="width: 18rem;">
                <img src="../example.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card cards" style="width: 18rem;">
                <img src="../example.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card cards" style="width: 18rem;">
                <img src="../example.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div class="all-cases">
            <hr class="big-separator">
            <h1
                style="background-color: rgba(128, 0, 128, 0.164);width:88%;padding: 10px; border-radius: 50px; text-align: center; margin: auto;">
                Dicas & Cases <strong style="color: rgb(255, 102, 0);">QUENTES!</strong></h1>
            <div>
                <div class="card cards">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card cards">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card cards">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card cards">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card cards">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card cards">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="home-footer">
            <hr class="separator">
            <h1>Contate-me!</h1>
            <div class="form-floating mb-3 forms">
                <label for="floatingInput"></label>
                <input type="email" class="form-control" id="floatingInput" placeholder="Insira seu email">

            </div>
            <div class="form-floating forms">
                <label for="floatingPassword"></label>
                <input type="password" class="form-control" id="floatingPassword" placeholder="Assunto">
            </div>
            <div class="form-floating">
                <label for="floatingTextarea2"></label>
                <textarea class="form-control forms" placeholder="Insira sua mensagem :)" id="floatingTextarea2"
                    style="height: 130px;width:490px;resize: none;"></textarea>
            </div>
            <div class="copyright">
                <h5>Powered by @dudupuci</h5>
            </div>
        </div>
    </footer>

</body>

</html>