<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isabelle Baritot - Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/styles.css">
</head>

<body>
    <script src="../js/main.js"></script>
    <header class="page-header">
        <nav>
            <ul class="nav-links">
                <img src="../Logo_-_Isabelle_-removebg-preview.png" alt="Isabelle Baritot Logotype" class="logotype">
                <a href="#">Sobre mim</a>
                <a href="#">Trabalhos</a>
                <a href="#">Galeria</a>
                <a href="#">Dicas & Cases</a>
                <a href="#">Fale comigo</a>
            </ul>
        </nav>
    </header>
    <img src="../artesanato-image.jpg" height="900px" width="100%" class="main-banner">

    <main>
    </main>

</body>

</html>